.headertext{
  align-self:center;
}

.logo-spin{
  animation: logo-spin 8s infinite linear;
}

@keyframes logo-spin {
  0% {
    transform: rotateY(0deg);
    
  }
  
  100%{
    transform: rotateY(359deg);

  }
}
